.team-heading {
  background: rgb(2,0,36);
background: linear-gradient(264deg, rgb(36, 0, 0) 0%, #720000c2 35%, rgba(89,0,0,1) 100%);
  color: #ffffff;
  font-family: 'Baskerville', sans-serif;
  font-size:50%;
}

.team-area {
  max-width: 1000px;
  margin: 3em auto;
  flex-wrap: wrap;
}

.employee-card {
  font-family: 'Baskerville', sans-serif;
    /* font-weight: bold; */
  margin: 1em;
  max-width: 280px;
  width: 90%;
  min-height: 22rem;
  background-color: #720000c2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  border: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f7f8;
}

.list-group-item {
  color: #000000;
  text-decoration: none;
}
